[submodule "vendor/commonmark.py"]
	path = vendor/commonmark.py
	url = git@github.com:rubendibattista/commonmark.py.git
[submodule "vendor/nbconvert"]
	path = vendor/nbconvert
	url = git@github.com:rubendibattista/nbconvert.git
[submodule "vendor/recommonmark"]
	path = vendor/recommonmark
	url = git@github.com:rubendibattista/recommonmark.git
