*.vtk
*.h5
*.xmf
*.xdmf
*.mp4
*.pyc
*.log

*.egg-info/

/examples/.ipynb_checkpoints
/examples/*.py
/examples/*.rst
/examples/*.nbconvert.*
/examples/results/

# Testing stuff
prof/
htmlcov/
.coverage*
.benchmarks/
.mypy_cache/
.pytest_cache/
*.xml
.ropeproject/globalnames
.ropeproject/history
.ropeproject/objectdb

# Docs artifacts
docs/build/
docs/source/examples/
public/
public

# Wheels build
build/
