*.vtk
*.h5
*.xmf
*.xdmf
*.mp4

*.egg-info/

/examples/.ipynb_checkpoints
/examples/*.py
/examples/*.rst

# Testing stuff
prof/
htmlcov/
.coverage*
.benchmarks/
.mypy_cache/
.pytest_cache/
*.xml

# Docs artifacts
docs/build/
public/
