[submodule "vendor/commonmark.py"]
	path = vendor/commonmark.py
	url = https://github.com/rubendibattista/commonmark.py
[submodule "vendor/nbconvert"]
	path = vendor/nbconvert
	url = https://github.com/rubendibattista/nbconvert
