[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
josiepy = {editable = true,path = "."}
commonmark = {editable = true,path= "./vendor/commonmark.py"}
recommonmark = {editable = true, path = "./vendor/recommonmark"}
nbconvert = {editable = true, path = "./vendor/nbconvert"}
jupyter = "*"
invoke = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
sphinx-autodoc-typehints = "*"
sphinx-markdown-tables = "*"
sphinxcontrib-bibtex = "*"
pytest = "*"
pytest-benchmark = "*"
pytest-cov = "*"
pytest-flake8 = "*"
pytest-mock = "*"
pytest-mypy = "*"
pytest-xdist = "*"
pygount = "*"
black = "*"

[packages]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
