[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
invoke = "*"
pytest = "==5.3.5"
pytest-benchmark = "*"
pytest-cov = "*"
pytest-flake8 = "*"
pytest-mock = "*"
pytest-xdist = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
sphinx-autodoc-typehints = "*"
sphinx-markdown-tables = "*"
sphinxcontrib-bibtex = "*"
pytest-mypy = "*"
commonmark = {editable = true,path = "./vendor/commonmark.py"}
pygount = "*"
ipdb = "*"
recommonmark = {editable = true,path = "./vendor/recommonmark"}
rise = "*"
ipywidgets = "*"
ipyevents = "*"
nbdime = "*"

[packages]
josiepy = {editable = true,path = "."}
nbconvert = {editable = true,path = "./vendor/nbconvert"}

[requires]
python_version = "3.8"
